{% extends 'base2.html' %}
{% block content %}
<h1>Welcome to the Stock Tracker</h1>

<form action="/stock_info" method="POST">
    <h2>What stock would you like to track?</h2>
    <input type="text" type="stock_name" name="stock_name" class='stock_name' maxlength="4" onkeydown="return /[a-z]/i.test(event.key)" placeholder="Enter 4 Letter Ticker">
    <button>Submit</button>
    <ul>
        {% for info in user.stocks%}
        <li class="stock_list">
            
            <button type="button" class="close" onclick="deleteStock({{ info.id }})">
            <span aria-hidden="true">&times;</span>
            </button>
            <a href="/stock_page/{{ info.stock_name }}" class="names">{{ info.stock_name }}</a>
        </li>
        <br>
        {% endfor %}
    </ul>
</form>
{% endblock %}